*{
    font-family: Helvetica, Arial, sans-serif;
}

body{
    background-color: #21232A;
    color: #fff;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 10px 70px;
}

input{
    color: gray;
    width: 100%;
    font: 1.2rem;
    padding: 10px 5px;
}